*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

button{
  padding: 10px 40px;
  margin: 1rem;
  background-color: rgb(2, 2, 48);
  color: aliceblue;
  font-size:20px;
}
.show {
  display: flex; 
  gap:1rem;
  margin: 2rem 1rem; 
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;

}

.show::-webkit-scrollbar{
  display: none;
}
.show .images {
  flex: 1 1 calc(25% - 1rem);
  width: 25%; 
  height: 25rem;
  
}

.images img{
  height:20rem;
  border-radius: 10px; 
  object-fit: contain;
}


.show h3{
 text-align: center;
}
